<div class="container">
<div class="row">
    <div class="col-6 "><emp></emp>
    </div>
    <div class="col"><dep></dep></div>
</div>
</div>
<h1>simplechanges</h1>
    This is parent class
<input type="text" [(ngModel)]="userinput">
<div class="col">
    <simple [title]="userinput">

</simple></div>
<div class="example-label">Flat</div>
<div class="example-button-row">
  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
</div>
